<div class="row">
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mdb-card class="card-fade">
      <mdb-card-header class="custom-card-header"></mdb-card-header>
      <mdb-card-body>
        <!--Izenda Report Part Area-->
        <div></div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mdb-card class="card-fade">
      <mdb-card-header class="custom-card-header"></mdb-card-header>
      <mdb-card-body>
        <!--Izenda Report Part Area-->
        <div></div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mdb-card class="card-fade">
      <mdb-card-header class="custom-card-header"></mdb-card-header>
      <mdb-card-body>
        <!--Izenda Report Part Area-->
        <div></div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mdb-card class="card-fade">
      <mdb-card-header class="custom-card-header"></mdb-card-header>
      <mdb-card-body>
        <!--Izenda Report Part Area-->
        <div></div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
