<section class="mt-lg-5">
  <div class="row">
    <h1>Healthcare Analytics Overview</h1>
  </div>
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-xl-3 col-md-6 my-5">
      <!--Card-->
      <div class="card card-cascade cascading-admin-card">
        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="fas fa-hospital" class="primary-color-dark"></mdb-icon>
          <div class="data">
            <p>AVERAGE HOSPITAL RATING</p>
            <h4>
              <!--Izenda KPI-->
              <div id="iForm-averagerating-kpi1" class="izenda-kpi-number"></div>
            </h4>
          </div>
        </div>
        <!--/.Card Data-->
        <!--Card content-->
        <div class="card-body card-body-cascade primary-color-dark">
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-xl-3 col-md-6 my-5">
      <!--Card-->
      <div class="card card-cascade cascading-admin-card">
        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="fas fa-users" class="danger-color"></mdb-icon>
          <div class="data">
            <p>AVERAGE PATIENT RATING</p>
            <h4>
              <!--Izenda KPI-->
              <div id="iForm-patientrating-kpi1" class="izenda-kpi-number"></div>
            </h4>
          </div>
        </div>
        <!--/.Card Data-->
        <!--Card content-->
        <div class="card-body card-body-cascade danger-color">
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-xl-3 col-md-6 my-5">
      <!--Card-->
      <div class="card card-cascade cascading-admin-card">
        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="fas fa-x-ray" class="elegant-color-dark"></mdb-icon>
          <div class="data">
            <p>IMAGING EFFICIENCY</p>
            <h4>
              <!--Izenda KPI-->
              <div id="iForm-imagingefficiency-kpi1" class="izenda-kpi-number"></div>
            </h4>
          </div>
        </div>
        <!--/.Card Data-->
        <!--Card content-->
        <div class="card-body card-body-cascade elegant-color-dark">
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-xl-3 col-md-6 my-5">
      <!--Card-->
      <div class="card card-cascade cascading-admin-card">
        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="fas fa-truck-loading" class="orange accent-3"></mdb-icon>
          <div class="data">
            <p>NUMBER OF SUPPLIERS</p>
            <h4>
              <!--Izenda KPI-->
              <div id="iForm-suppliers-kpi1" class="izenda-kpi-number"></div>
            </h4>
          </div>
        </div>
        <!--/.Card Data-->
        <!--Card content-->
        <div class="card-body card-body-cascade orange accent-3">
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
