<!--Section: Information-->
<section class="pb-4 mb-3">
  <panel header="Dashboard Home" color="primary-color">
    <p class="card-text">Welcome to the dashboard home. Below you can find links to the full suite of available
      dashboards.</p>
    <p class="card-text">Clicking the menu button and navigating the menu items will take you to different available
      Izenda reports and dashboards.</p>
    <p class="card-text">There is also access to the full Izenda experience below</p>
    <a [routerLink]="['/izenda']" class="btn btn-primary waves-effect waves-light">Full Izenda</a>
  </panel>
</section>

<!--Section: Overlay cards-->
<section class="mb-5">
  <h3 id="dashboardHome" class="font-bold mb-4">
    <strong>Available Dashboard Types</strong>
  </h3>
  <div class="row">
    <div class="col-md-6 my-5">
      <!-- Card -->
      <div id="cardbg-default" class="card card-image">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="blue-text">
              <mdb-icon fas icon="hand-holding-usd"></mdb-icon>
              <strong> Insurance</strong>
            </h6>
            <h3 class="card-title pt-4 pb-3 font-bold">
              <strong>Insurance Example</strong>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
              vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
              dolorum!.
            </p>
            <a class="btn btn-blue btn-rounded waves-effect waves-light" href="/dashboards/insurance/dashboard">
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-6 my-5">
      <!--Card-->
      <div id="cardbg-med" class="card card-image">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="orange-text">
              <mdb-icon fas icon="medkit"></mdb-icon>
              <strong> Healthcare</strong>
            </h6>
            <h3 class="card-title pt-4 pb-3 font-bold">
              <strong>Healthcare Example</strong>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
              vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
              dolorum!
            </p>
            <a class="btn btn-deep-orange btn-rounded waves-effect waves-light"
              href="/dashboards/healthcare/dashboard">
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-5">
      <!-- Card -->
      <div id="cardbg-edu" class="card card-image">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="pink-text">
              <mdb-icon fas icon="apple-alt"></mdb-icon>
              <strong> Education</strong>
            </h6>
            <h3 class="card-title pt-4 pb-3 font-bold">
              <strong>Education Example</strong>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
              vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
              dolorum!.
            </p>
            <a class="btn btn-pink btn-rounded waves-effect waves-light" href="/dashboards/education/dashboard">
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-6 my-5">
      <!-- Card -->
      <div id="cardbg-gov" class="card card-image">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="green-text">
              <mdb-icon fas icon="university"></mdb-icon>
              <strong> Government</strong>
            </h6>
            <h3 class="card-title pt-4 pb-3 font-bold">
              <strong>Dashboard Example</strong>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
              vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
              dolorum!.
            </p>
            <a class="btn btn-green btn-rounded waves-effect waves-light" href="/dashboards/government/dashboard">
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>
  </div>

</section>
<!--Section: Overlay cards-->
