.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

#dashboardHome {
  color: #747373;
}

/* Card Ids */
#cardbg-default {
  /* background-image: url('../../../assets/img/izenda-logo1.png'); */
  background-image: url('../../../../assets/img/Insurance.png');
  background-color: #cccccc
}

#cardbg-med {
  /* background-image: url('../../../assets/img/med1.jpg'); */
  background-image: url('../../../../assets/img/Healthcare.png');
  background-color: #cccccc
}

#cardbg-edu {
  /* background-image: url('../../../assets/img/edu1.jpg'); */
  background-image: url('../../../../assets/img/Education.png');
  background-color: #cccccc
}

#cardbg-gov {
  /* background-image: url('../../../assets/img/gov1.jpg'); */
  background-image: url('../../../../assets/img/Government.png');
  background-color: #cccccc
}
