<!--KPI Section-->
<section class="mb-3">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA1"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA1">
            <!--Izenda Report Part Area-->
            <div id="iForm-educationalAttainmentKpi1-kpi" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA2"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA2">
            <!--Izenda Report Part Area-->
            <div id="iForm-educationalAttainmentKpi2-kpi" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA3"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA3">
            <!--Izenda Report Part Area-->
            <div id="iForm-eduAttainmentPercentKpi1-kpi" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA4"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA4">
            <!--Izenda Report Part Area-->
            <div id="iForm-collegeEnrollmentKpi1-kpi" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>
<!--Charts Section-->
<section class="mb-3">
  <!--Charts Row 1-->
  <div class="row">
    <div class="col col-lg-8 col-md-12 col-sm-12 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA5"></app-card-loader>
          <div class="card-inactive" id="cardA5">
            <div id="iForm-EducationalAttainment16-18Char-chart" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA6"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA6">
            <div id="iForm-EduAttainmentDegreePie1-chart" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <!--Charts Row 2-->
  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA7"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA7">
            <div id="iForm-CollegeEnrollmentChart1-chart" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-5 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA8"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA8">
            <div id="iForm-PopularMajorTable1-grid" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderA9"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardA9">
            <div id="iForm-eduAttainmentMap1-map" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>
