<app-navbar></app-navbar>
<main>
  <!--Education Dashboard Content-->
  <div class="container-fluid">
    <!--Dashboard View Container-->
    <div style="margin-left: -3em; margin-right: -3em;">
      <section class="py-4 mb-4">
        <app-gov-dashview1></app-gov-dashview1>
      </section>
      <section class="py-4">
        <app-gov-dashview2></app-gov-dashview2>
      </section>
      <section class="py-3 mt-2">
        <app-gov-dashview3></app-gov-dashview3>
      </section>
    </div>
  </div>
</main>
