.active-component {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 3s, visibility 3s;
  transition: opacity 3s, visibility 3s;
}

.inactive-component {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  display: none;
}

.view-component {
  min-height: 10em;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-2deg) rotateX(-2deg);
    -webkit-transform: rotateY(-2deg) rotateX(-2deg);
    transform: rotateY(-2deg) rotateX(-2deg);
  }

  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-2deg) rotateX(-2deg);
    -webkit-transform: rotateY(-2deg) rotateX(-2deg);
    transform: rotateY(-2deg) rotateX(-2deg);
  }

  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-2deg) rotateX(-2deg);
    -webkit-transform: rotateY(-2deg) rotateX(-2deg);
    transform: rotateY(-2deg) rotateX(-2deg);
  }

  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-2deg) rotateX(-2deg);
    -webkit-transform: rotateY(-2deg) rotateX(-2deg);
    transform: rotateY(-2deg) rotateX(-2deg);
  }

  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-2deg) rotateX(-2deg);
    -webkit-transform: rotateY(-2deg) rotateX(-2deg);
    transform: rotateY(-2deg) rotateX(-2deg);
  }

  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
}

:host ::ng-deep .card-fade {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.izCard {
  min-height: 25em;
}

/* Custom CSS for Izenda Charts */
.iChart {
  height: 20em;
  width: auto;
}

.iTable {
  height: 20em;
}

.izenda-kpi-number {
  height: 3em;
}

.izenda-kpi-textarea {
  height: 8em;
}

:host ::ng-deep .iKpi {
  height: 4em;
}

:host ::ng-deep mdb-card {
  min-height: 7em;
}

:host ::ng-deep mdb-card div {
  min-height: inherit;
}

:host ::ng-deep .custom-card-header {
  background-color: whitesmoke !important;
}

:host ::ng-deep app-card-loader {
  min-height: unset;
}
