<section>
  <!--Grid Row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <div class="card card-cascade mt-4 py-4">
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <app-card-loader id="card-loader1"></app-card-loader>
          <!--Only Card Content-->
          <div class="card-inactive" id="stat-card1">
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small red darken-4 waves-light" mdbWavesEffect>
              <mdb-icon fas icon="hospital-symbol"></mdb-icon>
            </a>
            <!--KPI Data-->
            <h4 class="card-title mb-1">
              <!--Izenda KPI-->
              <div id="iForm-averagerating-kpi1" class="izenda-kpi-number"></div>
            </h4>
            <h6>Avg. Hospital Rating</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <div class="card card-cascade mt-4 py-4">
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <!--Card content loading-->
          <app-card-loader id="card-loader2"></app-card-loader>
          <!--Only Card Content-->
          <div class="card-inactive" id="stat-card2">
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small indigo waves-light" mdbWavesEffect>
              <mdb-icon fas icon="smile"></mdb-icon>
            </a>
            <!--KPI Data-->
            <h4 class="card-title mb-1">
              <!--Izenda KPI-->
              <div id="iForm-patientrating-kpi1" class="izenda-kpi-number"></div>
            </h4>
            <h6>Avg. Patient Rating</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <div class="card card-cascade mt-4 py-4">
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <!--Card content loading-->
          <app-card-loader id="card-loader3"></app-card-loader>
          <!--Only Card Content-->
          <div class="card-inactive" id="stat-card3">
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small deep-purple waves-light" mdbWavesEffect>
              <mdb-icon fas icon="file-medical-alt"></mdb-icon>
            </a>
            <!--KPI Data-->
            <h4 class="card-title mb-1">
              <!--Izenda KPI-->
              <div id="iForm-imagingefficiency-kpi1" class="izenda-kpi-number"></div>
            </h4>
            <h6>Imaging Efficiency</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <div class="card card-cascade mt-4 py-4">
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <!--Card content loading-->
          <app-card-loader id="card-loader4"></app-card-loader>
          <!--Only Card Content-->
          <div class="card-inactive" id="stat-card4">
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small amber waves-light" mdbWavesEffect>
              <mdb-icon fas icon="boxes"></mdb-icon>
            </a>
            <!--KPI Data-->
            <h4 class="card-title mb-1">
              <!--Izenda KPI-->
              <div id="iForm-suppliers-kpi1" class="izenda-kpi-number"></div>
            </h4>
            <h6>Supplier Count</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
