<!-- Header -->
<div class="chart-header py-3">
  <h2> Atlanta Charts </h2>
</div>
<!-- First Row -->
<div class="row">
  <div class="col-12">
    <section>
      <cascading-card title="Medium Household Income" alignment="center">
        <div class="card-body">
          <!--Chart Content-->
          <div class="row">
            <div class="col-8">
              <!-- Izenda Report Part -->
              <div id="ATL-MHI-CHART1" class="iChart"></div>
            </div>
            <div class="col-4">
              <!-- Izenda Report Part -->
              <div id="ATL-MHISUMMARY-KPI" class="iKpi px-3"></div>
            </div>
          </div>
          <!-- Full Report Link-->
          <button class="btn-flat grey lighten-2 btn-rounded waves-effect float-right dark-grey-text">Full
            Report <mdb-icon fas icon="arrow-right" class="" aria-hidden="true"></mdb-icon>
          </button>
        </div>
      </cascading-card>
    </section>
  </div>
</div>
