.iKpi {
  height: 15em;
  width: 100%;
  text-align: center;
}

/* Izenda Overwrites */
:host ::ng-deep .iKpi * {
  background-color: transparent !important;
}

:host ::ng-deep .iKpi p {
  background-color: transparent !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  font-family: sans-serif;
  color: #222222 !important;
}
