<!-- KPI Section -->
<!-- Image Container -->
<div class="image-container">
  <div class="atl-image">
  </div>
</div>
<!-- KPI Group Header -->
<div class="group-header py-5">
  <h1>ATLANTA & GEORGIA STATISTICS</h1>
</div>
<!-- KPI Group Content -->
<div class="kpi-content row">
  <!-- KPI Group -->
  <div class="kpi-group col">
    <!-- KPI 1-->
    <div id="ATL-POPULATION-KPI" class="iKpi col-4"></div>
    <!-- KPI 2-->
    <div id="ATL-MHI-KPI" class="iKpi col-4"></div>
    <!-- KPI 3-->
    <div id="ATL-EMPLOYEES-KPI" class="iKpi col-4"></div>
  </div>
  <div class="w-100"></div>
  <!-- KPI Group -->
  <div class="kpi-group col">
    <!-- KPI 4-->
    <div id="ATL-MPV-KPI" class="iKpi col-4"></div>
    <!-- KPI 5-->
    <div id="ATL-POVERTY-KPI" class="iKpi col-4"></div>
    <!-- KPI 6-->
    <div id="ATL-MEDIANAGE-KPI" class="iKpi col-4"></div>
  </div>
</div>
