<!--KPI Section-->
<section class="mb-3">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB1"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB1">
            <!--Izenda Report Part Area-->
            <div id="iForm-gradeStatsKPI1-kpi" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB2"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB2">
            <!--Izenda Report Part Area-->
            <div id="iForm-gradeStatsKPI2-kpi" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB3"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB3">
            <!--Izenda Report Part Area-->
            <div id="iChart-nurserySchoolKpi1-scatter" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB4"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB4">
            <!--Izenda Report Part Area-->
            <div id="iChart-nurserySchoolKpi2-line" class="iKpi"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>
<!--Charts Section-->
<section class="mb-3">
  <!--Charts Row 1-->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB5"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB5">
            <!--Izenda Report Part Area-->
            <div id="iForm-NurserySchoolMotherWorkingStat-chart" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col col-lg-8 col-md-12 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB6"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB6">
            <div id="iForm-GradStatsChart1-chart" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">
    <!--Charts Row 2-->
    <div class="col-lg-8 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <div class="row">
            <div class="col-6">
              <!--Loader-->
              <app-card-loader id="loaderB7"></app-card-loader>
              <!--Card Content Only-->
              <div class="card-inactive" id="cardB7">
                <div id="iForm-4thGradeStateMathScoresMap-map" class="iChart"></div>
              </div>
            </div>
            <div class="col-6">
              <!--Loader-->
              <app-card-loader id="loaderB8"></app-card-loader>
              <!--Card Content Only-->
              <div class="card-inactive" id="cardB8">
                <div id="iForm-top52017math4thgradegrid-grid" class="iChart pt-5"></div>
              </div>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4 mb-4">
      <mdb-card class="card-fade">
        <mdb-card-header class="custom-card-header"></mdb-card-header>
        <mdb-card-body>
          <!--Loader-->
          <app-card-loader id="loaderB9"></app-card-loader>
          <!--Card Content Only-->
          <div class="card-inactive" id="cardB9">
            <div id="iForm-PrimarySchoolChart1-chart" class="iChart"></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>
