/* Remove caret from dropdown */
.dropdown-toggle:after {
  content: none
}

.izCard {
  min-height: 25em;
}

/* Custom CSS for Izenda Charts */
.iChart {
  height: 20em;
  width: auto;
}

.iTable {
  height: 20em;
}

.izenda-kpi-number {
  height: 3em;
}

.izenda-kpi-textarea {
  height: 8em;
}
