<div class="chart-header pt-5">
  <h1> Georgia Statistics </h1>
</div>
<!-- First Row -->
<div class="row py-5">
  <div class="col-12">
    <section>
      <cascading-card title="Occupation and Income" alignment="center">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-6">
              <!-- Izenda Report Part -->
              <div id="ATL-WAGEGENDER-CHART1" class="iChart"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-6">
              <!-- Izenda Report Part -->
              <div id="ATL-HIGHESTPAY-GRID" class="iGrid"></div>
            </div>
          </div>
        </div>
      </cascading-card>
    </section>
  </div>
</div>
<!-- Second Row -->
<div class="row py-5">
  <!-- Interior Charts -->
  <div class="col-12">
    <section>
      <cascading-card title="Domestic Trade" alignment="center">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <!-- Izenda Report Part -->
              <div id="ATL-TRADEGROWTH-CHART1" class="iChart"></div>
            </div>
            <div class="col-4">
              <!-- Izenda Report Part -->
              <div id="ATL-TRADE2015-CHART1" class="iChart"></div>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>2012</button>
                  <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>2013</button>
                  <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>2014</button>
                  <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>2015</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </cascading-card>
    </section>
  </div>
</div>
