<section class="mt-lg-5">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <!--Card Primary-->
      <div class="card classic-admin-card primary-color">
        <div class="card-body">
          <div class="pull-right d-flex justify-content-between">
            <p class="white-text">MEDICARE ENROLLMENT</p>
            <mdb-icon fas icon="money-bill-alt"></mdb-icon>
          </div>
          <h4>
            <div id="iForm-medicareenrollment-kpi1" class="izenda-kpi-number"></div>
          </h4>
        </div>
        <div class="progress">
          <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
          <p>Better than last week (25%)</p>
        </div>
      </div>
      <!--/.Card Primary-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <!--Card Warning-->
      <div class="card classic-admin-card warning-color">
        <div class="card-body">
          <div class="pull-right d-flex justify-content-between">
            <p>UNINSURED RATE</p>
            <mdb-icon fas icon="chart-line"></mdb-icon>
          </div>
          <h4>

            <div id="iForm-uninsuredrate-kpi1" class="izenda-kpi-number"></div>

          </h4>
        </div>
        <div class="progress">
          <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
          <p>Worse than last week (25%)</p>
        </div>
      </div>
      <!--/.Card Warning-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <!--Card Blue-->
      <div class="card classic-admin-card light-blue lighten-1">
        <div class="card-body">
          <div class="pull-right d-flex justify-content-between">
            <p>5 YR. COVERAGE CHANGE</p>
            <mdb-icon fas icon="chart-pie"></mdb-icon>
          </div>
          <h4>
            <div id="iForm-coveragechange-kpi1" class="izenda-kpi-number"></div>

          </h4>
        </div>
        <div class="progress">
          <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 75%" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
          <p>Better than last week (75%)</p>
        </div>
      </div>
      <!--/.Card Blue-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-12 col-lg-3 col-md-6 mb-4">
      <!--Card Red-->
      <div class="card classic-admin-card red accent-2">
        <div class="card-body">
          <div class="pull-right d-flex justify-content-between">
            <p>STATE MEDICAID EXPANSION</p>
            <mdb-icon fas icon="chart-bar"></mdb-icon>
          </div>
          <h4>

            <div id="iForm-medicaidstateexpand-kpi1" class="izenda-kpi-number"></div>

          </h4>
        </div>
        <div class="progress">
          <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
          <p>Better than last week (25%)</p>
        </div>
      </div>
      <!--/.Card Red-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
